@model Entities.Models.Roles

@{
    ViewData["Title"] = "Thêm mới quyền hệ thống";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Thêm mới quyền hệ thống</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" action="@Url.ActionLink("Create")" asp-antiforgery="true">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="RoleName" class="control-label">Tên quyền</label>
                        <input asp-for="RoleName" class="form-control" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer float-right">
                    <a href="@Url.Action("Index")">Quay lại</a>
                    <input type="submit" value="Lưu lại" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>