<!DOCTYPE html>
<html>
<head>
    <title> Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <table align="center" bgcolor="#dcf0f8" border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0;background-color:#f2f2f2;width:100%!important;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px" width="100%">
            <tbody>
                <tr>
                    <td align="center" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" style="margin-top:15px" width="600">
                            <tbody>
                                <tr style="background:#fff">
                                    <td align="left" height="auto" style="padding:15px" width="600">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h1 style="font-size:17px;font-weight:bold;color:#444;padding:0 0 5px 0;margin:0">Cảm ơn quý khách {{CustomerName}} đã đặt hàng tại <span class="il">TuNgaComputer</span></h1>

                                                        <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"><span class="il">TuNgaComputer</span> rất vui thông báo đơn hàng {{OrderCode}} của quý khách đã được tiếp nhận và đang trong quá trình xử lý. <span class="il">TuNgaComputer</span> sẽ thông báo đến quý khách ngay khi hàng chuẩn bị được giao.</p>

                                                        <h3 style="font-size: 13px; font-weight: bold; color: #0090f0; text-transform: uppercase; margin: 20px 0 0 0; border-bottom: 1px solid #ddd ">Thông tin đơn hàng {{OrderCode}}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th align="left" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold" width="50%">Thông tin thanh toán</th>
                                                                    <th align="left" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;font-weight:bold" width="50%"> Địa chỉ giao hàng </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:3px 9px 9px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal" valign="top">
                                                                        <span style="text-transform:capitalize">{{CustomerName}}</span><br>
                                                                        <a href="mailto:{{CustomerName}}" target="_blank">{{CustomerEmail}}</a><br>
                                                                        {{CustomerPhone}}
                                                                    </td>
                                                                    <td style="padding:3px 9px 9px 9px;border-top:0;border-left:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal" valign="top">
                                                                        <span style="text-transform:capitalize">{{CustomerName}}</span><br>
                                                                        <a href="mailto:{{CustomerEmail}}" target="_blank">{{CustomerEmail}}</a><br>
                                                                        {{CustomerAddress}}<br>
                                                                        {{CustomerPhone}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2" style="padding:7px 9px 0px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444" valign="top">
                                                                        <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal">
                                                                            <strong>Phương thức thanh toán: </strong> {{PaymentTypeName}}<br>
                                                                            <strong>Phí vận chuyển: </strong> {{ShippingFee}}<br>
                                                                            <strong>Ghi chú đơn hàng: </strong> {{CustomerNote}}<br>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px;font-weight:normal"><i>Lưu ý: Đối với đơn hàng đã được thanh toán trước, nhân viên giao nhận có thể yêu cầu người nhận hàng cung cấp CMND / giấy phép lái xe để chụp ảnh hoặc ghi lại thông tin.</i></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 style="text-align: left; margin: 10px 0; border-bottom: 1px solid #ddd; padding-bottom: 5px; font-size: 13px; color: #0090f0;">CHI TIẾT ĐƠN HÀNG</h2>
                                                        <table border="0" cellpadding="0" cellspacing="0" style="background: #f5f5f5" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th align="left" bgcolor="#0090f0" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Sản phẩm</th>
                                                                    <th align="left" bgcolor="#0090f0" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Đơn giá</th>
                                                                    <th align="left" bgcolor="#0090f0" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Số lượng</th>
                                                                    <th align="right" bgcolor="#0090f0" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Tổng tạm</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody bgcolor="#eee" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                                {{ListProductOrder}}
                                                            </tbody>
                                                            <tfoot style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#444;line-height:18px">
                                                                <tr>
                                                                    <td align="right" colspan="3" style="padding:5px 9px">Tạm tính</td>
                                                                    <td align="right" style="padding:5px 9px"><span>{{ProductPrice}}</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="right" colspan="3" style="padding:5px 9px">Phí vận chuyển</td>
                                                                    <td align="right" style="padding:5px 9px"><span>{{ShippingFee}}</span></td>
                                                                </tr>
                                                                <tr bgcolor="#eee">
                                                                    <td align="right" colspan="3" style="padding:7px 9px"><strong><big>Tổng giá trị đơn hàng</big> </strong></td>
                                                                    <td align="right" style="padding:7px 9px"><strong><big><span>{{TotalPrice}}</span> </big> </strong></td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                        <div style="margin:auto"><a href="http://localhost:44337/don-hang?orderCode={{OrderCode}}">Chi tiết đơn hàng tại <span class="il">TuNgaComputer</span></a></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><img src="https://ci6.googleusercontent.com/proxy/o6rZ7OY49aPabQkZkTaCrP4fFzKxMony1xbqfVYwjHB_jBUL5ChjEDw9rMBPMPqGpD2QkvtsNI-BOreH6kdxOqwdNglzAkVh9cW4PMOgEq2BKYpUnkSySITk63uRjjDCHVt-75pRl5W_CFCHDjE3kocL1i2qS7AeIrrUhcTNrn_02w2Njj9yu5A=s0-d-e1-ft#https://x64km.mjt.lu/oo/AUUAACt93BgAAAAAAAAAAALDSxoAAAAA3NwAAAAAABPsQgBgfkgPznabfM7tRlWstmKiaa8z8AAPBhU/973f2fcb/e.gif" height="1" width="1" alt="" border="0" style="height:1px;width:1px;border:0" class="CToWUd"><div class="yj6qo"></div><div class="adL">
        </div>
    </div>
</body>
</html>
