@model Entities.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Đổi mật khẩu</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="@Url.Action("ChangePassword", "Default")" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="oldPassword" class="control-label">Mật khẩu cũ</label>
                        <input type="password" asp-for="oldPassword" class="form-control" />
                        <span asp-validation-for="oldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="newPassword" class="control-label">Mật khẩu mới</label>
                        <input type="password" asp-for="newPassword" class="form-control" />
                        <span asp-validation-for="newPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="reNewPassword" class="control-label">Nhập lại mật khẩu mới</label>
                        <input type="password" asp-for="reNewPassword" class="form-control" />
                        <span asp-validation-for="reNewPassword" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer float-right">
                    <a href="@Url.Action("Index")">Quay lại</a>
                    <input type="submit" value="Lưu lại" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>
</div>