
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="main-container ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="page-content blog-page single blog-sidebar right-sidebar ">
                    <article id="post-319" class="even post-319 post type-post status-publish format-image has-post-thumbnail hentry category-company category-image category-travel tag-wordpress post_format-post-format-image">
                        <div class="post-inner">
                            <br />
                            <div class="postinfo-wrapper ">
                                <div class="post-info">
                                    <div class="entry-content">
                                        <div class="page-content rte" style="float:left; width:1000px" >
                                            <br />
                                            <p style="text-align: center;">
                                                <span style="font-size: 20px;">
                                                    <strong><span style="color: #333399;">Về Tú Nga Computer</span></strong>
                                                </span>
                                            </p>
                                            <h5>1: Giới thiệu chung:</h5>
                                            <br />
                                            <div style="margin: 0px 30px">
                                                <p>
                                                    -	Tú Nga Computer là nơi chuyên kinh doanh, phân phối sỉ & lẻ, sửa chữa và lắp đật các ngành hàng máy tính, bao gồm linh kiên, gear pc, laptop…, cung cấp giải pháp xây dựng PC phù hợp với khách hàng.
                                                </p>
                                                <p>
                                                    -	Cung cấp, hỗ trợ lắp đặt camera an ninh.
                                                </p>
                                                <p>
                                                    -	Với tiêu chí hàng đầu là : "GIỮ VỮNG UY TÍN - LÀM VIỆC CHUYÊN NGHIỆP - TẬM TÂM VỚI KHÁCH HÀNG", đến với chúng tôi, các bạn sẽ được cung cấp các sản phẩm chất lượng với mức giá ưu đãi, phù hợp. Cùng với đội ngũ kỹ thuật viên dày dặn kinh nghiệm trong lĩnh vực công nghệ, chúng tôi đem lại những dịch vụ tốt nhất, giúp khách hàng có được trải nghiệm tuyệt vời khi đến với chúng tôi.
                                                </p>
                                            </div>
                                            <ul></ul>
                                            <br />
                                            <h5>2: Các ngành hàng, dịch vụ đang được cung cấp:</h5>
                                            <br />
                                            <div style="margin: 0px 30px">
                                                <p>
                                                    -	PC build sẵn theo từng mức giá
                                                </p>
                                                <p>
                                                    -	CPU, Ram, SSD chính hãng của các hãng nổi tiếng (Intel, AMD, Kingston, Nvidia, Asus, …)
                                                </p>
                                                <p>
                                                    -	Hệ thống tản nhiệt nước (Water Cooling) chính hãng (Cooler master, AORUS, Corsair,…)
                                                </p>
                                                <p>
                                                    -	Chuột bàn phím gaming chính hãng (Razer, Logitech, Steelseries, Corsair, …)
                                                </p>
                                                <p>
                                                    -	Laptop chính hãng
                                                </p>
                                                <p>
                                                    -	Dịch vụ sửa chữa linh kiện máy tính với đội ngũ nhân viên kỹ thuật cao
                                                </p>
                                                <p>
                                                    -	Dịch vụ tư vấn, lắp đặt Camera
                                                </p>
                                                <br />
                                            </div>
                                        </div>
                                        <div class="post-thumbnail-wrapper" style="float:right">
                                            <div class="post-thumbnail">
                                                <br />
                                                <img src="~/Upload/Images/img2.jpg" style="display: block;margin-left: auto;margin-right: auto;height: 400px" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>


</div>