
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="page-content blog-page single blog-sidebar right-sidebar ">
                    <article id="post-319" class="even post-319 post type-post status-publish format-image has-post-thumbnail hentry category-company category-image category-travel tag-wordpress post_format-post-format-image">
                        <div class="post-inner" style="float:left">
                            <div class="post-thumbnail-wrapper">
                                <div class="post-thumbnail">
                                    <img src="~/Upload/Images/img2.jpg" style="height: 200px" />
                                </div>
                            </div>
                            <div class="postinfo-wrapper ">
                                <div class="post-info">
                                    <div class="entry-content">
                                        <div class="page-content rte">
                                            <br />
                                            <h3>Liên hệ:</h3>
                                            <br />
                                            <ul>
                                                <li><strong>-	Địa chỉ: Số 52B Ngõ 138 Đường Tân Triều Hà Nội 10000</strong></li>
                                                <br />
                                                <li><strong>-	Phone: 035 352 9692</strong></li>
                                                <br />
                                                <li><strong>-	Email: tncomputer92@gmail.com</strong></li>
                                                <br />
                                                <li><strong>-	Facebook: https://www.facebook.com/PcLaptopHiend</strong></li>
                                                <br />
                                                <li><strong>-   Website : <a href="#">http://tncomputer.vn</a></strong></li>
                                            </ul>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="map" style="float:right">
                            <br />
                            <br />
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3132.6079907321696!2d105.79770512580248!3d20.979817646558878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acc4f3413f19%3A0xdcd87f2d9f558145!2zNTIgTmfDtSAxMzggVMOibiBUcmnhu4F1LCBUw6JuIFRyaeG7gXUsIFRoYW5oIFRyw6wsIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1644499738351!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>


</div>