
@{
    string filter = ViewBag.Filter != DateTime.MinValue ? ViewBag.Filter.ToString("yyyy-MM-dd") : DateTime.Now.Date.ToString("yyyy-MM-dd");
    string filterTitle = ViewBag.Filter != DateTime.MinValue ? ViewBag.Filter.ToString("dd-MM-yyyy") : DateTime.Now.Date.ToString("dd-MM-yyyy");
    string strFilter = ViewBag.Filter != DateTime.MinValue ? ViewBag.Filter.ToString("yyyy-MM-dd") : DateTime.Now.Date.ToString("yyyy-MM-dd");
    ViewData["Title"] = "Báo cáo ngày " + filterTitle;
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="col-lg-6">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" id="ddlFilterData" onchange="OnchangeData()" type="date" value='@strFilter' onkeypress="return false" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                        <h3 class="card-title">THỐNG KÊ ĐƠN HÀNG NGÀY <b>@filterTitle</b></h3>
                    </div>
                </div>
                <div class="card-body">
                    <p class="d-flex flex-column">
                        <span class="text-bold text-lg" id="totalDoanhThu">0 đ</span>
                        <span>Doanh thu ngày</span>
                    </p>
                    <div style="height: 500px;">
                        <canvas id="chartNgay"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</div>

<script>
    function OnchangeData() {
        var valYear = $('#ddlFilterData').val();
        window.location.href = "@Url.Action("BaoCaoNgay", "Report")?ngay=" + valYear;
    }
</script>
<script>
    function moneyFormat(price, sign = ' đ') {
        const pieces = parseFloat(price).toFixed(1).split('')
        let ii = pieces.length - 3
        while ((ii -= 3) > 0) {
            pieces.splice(ii, 0, ',')
        }
        return pieces.join('') + sign
    }
    function SetChartNgay() {
        var DonHangMoi = 0;
        var DonHangThanhCong = 0;
        var DonHangThatBai = 0;
        var DonHangHuy = 0;
        var ctx = document.getElementById('chartNgay').getContext('2d');
        //get data chart
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetDataBaoCaoNgay", "Report")?ngay=@filter',
            dataType: 'json',
            success: function (res) {
                $("#totalDoanhThu").text(moneyFormat(res.DoanhThu))
                DonHangMoi = res.DonHangMoi;
                DonHangThanhCong = res.DonHangThanhCong;
                DonHangThatBai = res.DonHangThatBai;
                DonHangHuy = res.DonHangHuy;
                console.log(res);
            }
        }).done(function () {
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Đ.Hàng Mới', 'Đ.Hàng Thành Công', 'Đ.Hàng Thất Bại', 'Đ.Hàng Hủy'],
                    datasets: [{
                        label: 'Đ.Hàng Mới',
                        data: [DonHangMoi, DonHangThanhCong, DonHangThatBai, DonHangHuy],
                        backgroundColor: [
                            'rgba(0, 104, 184, 1)',
                            '#28a745',
                            '#ffc107',
                            'rgba(66, 66, 66, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
            });
        });
    }
    SetChartNgay();
</script>